Node-red/flows.json
[
    {
        "id": "e9eec0f8747ddf54",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e74384602277f876",
        "type": "mqtt in",
        "z": "e9eec0f8747ddf54",
        "name": "",
        "topic": "escom/iot/equipo1/sensor/luz",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e433e58adc944ceb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 100,
        "wires": [
            [
                "ea084287d72e2f63",
                "806e776c137c5f0b",
                "73fa50439d61cafc",
                "eef52727cfdbf094",
                "3de549a2574941b5",
                "3fb6f0e8cf42dbd8"
            ]
        ]
    },
    {
        "id": "ea084287d72e2f63",
        "type": "debug",
        "z": "e9eec0f8747ddf54",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "eef52727cfdbf094",
        "type": "function",
        "z": "e9eec0f8747ddf54",
        "name": "function 1",
        "func": "let valor = Number(msg.payload);\n\nif (valor <= 300) {\n    msg.payload = \"BAJO 🟢\";\n} \nelse if (valor <= 700) {\n    msg.payload = \"MEDIO 🟡\";\n} \nelse {\n    msg.payload = \"ALTO 🔴\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "3aa98c70758bcbd8"
            ]
        ]
    },
    {
        "id": "3de549a2574941b5",
        "type": "function",
        "z": "e9eec0f8747ddf54",
        "name": "function 2",
        "func": "let fecha = new Date();\n\nmsg.payload = `${fecha.toISOString()} - ${msg.payload}\\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "b2f08a75f35a699d"
            ]
        ]
    },
    {
        "id": "b2f08a75f35a699d",
        "type": "file",
        "z": "e9eec0f8747ddf54",
        "name": "",
        "filename": "iot_luz.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 780,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "3fb6f0e8cf42dbd8",
        "type": "function",
        "z": "e9eec0f8747ddf54",
        "name": "function 3",
        "func": "let valor = Number(msg.payload);\n\n// lógica del actuador\nif (valor < 300) {\n    msg.payload = \"Encendido\";\n} \nelse {\n    msg.payload = \"Apagado\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 600,
        "wires": [
            [
                "2558a045f728d8f3",
                "c5088d4a3ab57958"
            ]
        ]
    },
    {
        "id": "85b3c05f6ea7945c",
        "type": "function",
        "z": "e9eec0f8747ddf54",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3aa98c70758bcbd8",
        "type": "ui_text",
        "z": "e9eec0f8747ddf54",
        "group": "1a99ac4c6fe20291",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de luz",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "2558a045f728d8f3",
        "type": "ui_text",
        "z": "e9eec0f8747ddf54",
        "group": "1a99ac4c6fe20291",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del Led",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 600,
        "wires": []
    },
    {
        "id": "806e776c137c5f0b",
        "type": "ui_gauge",
        "z": "e9eec0f8747ddf54",
        "name": "",
        "group": "1a99ac4c6fe20291",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luz",
        "label": "lx",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "73fa50439d61cafc",
        "type": "ui_chart",
        "z": "e9eec0f8747ddf54",
        "name": "",
        "group": "1a99ac4c6fe20291",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Luz en el tiempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c5088d4a3ab57958",
        "type": "mqtt out",
        "z": "e9eec0f8747ddf54",
        "name": "",
        "topic": "escom/iot/equipo1/actuador/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e433e58adc944ceb",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "e433e58adc944ceb",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "192.168.1.66",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1a99ac4c6fe20291",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "b1b1fe5d9ac1413e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1b1fe5d9ac1413e",
        "type": "ui_tab",
        "name": "IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "268c1b6c092b1db3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]